@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using MetaMomentum.Models;
@{
	Layout = null;

	var metaMomentum = Model.Value<MetaValues>("metaMomentum");
}
<html>
<head>
	<partial name="MetaMomentum/RenderMetaTags" model="metaMomentum" />
</head>
<body>
<pre>
Title:				@(metaMomentum.Title)<br/>
Share Title:			@(metaMomentum.ShareTitle)<br/>
Share Description:		@(metaMomentum.ShareDescription)<br/>
Description:			@(metaMomentum.Description)<br/>
Share Image:			@(metaMomentum.ShareImageUrl)<br/>
Open Graph Site Name:	    @(metaMomentum.OGSiteName)<br/>
TwitterName:			@(metaMomentum.TwitterName)<br/>
</pre>
<img src="@(metaMomentum.ShareImageUrl)?width=1200&height=628&bgcolor=white" />
</body>
</html>